<div class="row">
<div class="col-md-2 text-center"> 
  <img src="/public/leedsgirlscan/images/lottery.png" alt="Sport England Lottery Funded logo" />
</div>
<div class="col-md-6"> 
   <nav>
      <ul>
         <li>
            <a href="/Pages/Accessibility.aspx">Accessibility </a> </li>
         <li>
            <a href="/Pages/Privacystatement.aspx">Privacy Statement </a> </li>
         <li>
            <a href="/Pages/TermsAndConditions.aspx">Terms and Conditions</a></li>
      </ul> </nav> </div>
<div class="col-md-4 text-center">
   <div class="socialBookmarks">
      <ul>
         <li>
            <a href="https://www.instagram.com/leedsgirlscan/" class="instagram" target="_blank"> 
               <span>Instagram opens in new window </span></a></li>
         <li>
            <a href="https://www.facebook.com/LeedsGirlsCan" class="facebook" target="_blank"> 
               <span>Facebook opens in new window </span></a></li>
         <li>
            <a href="https://twitter.com/LeedsGirlsCan" class="twitter" target="_blank"> 
               <span>Twitter opens in new window </span></a> </li>

           <li>
            <a href="https://open.spotify.com/user/leedsgirlscan" class="spotify" target="_blank"> 
               <span>spotify opens in new window </span></a> </li>      
         <li>
            <a href="https://www.youtube.com/channel/UCeFlvm4C9zDR-1V6LQJtWUw" class="youtube" target="_blank"> 
               <span>You tube opens in new window </span></a></li>
      </ul>
      <div class="clear">
      </div>
   </div>
</div> 
</div>