{% extends "layout_multi_sections.html" %}

{% block page_title %}
	About us
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}/leedsgirlscan/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 {% block main_nav %}
   {% include "includes/leedsgirlscan/main_nav.html" %}    
 {% endblock %}

{% block header %}
{% endblock %}
 
 {% block sectionOneTop %}
 <div class="heroBanner" style="background:url(/public/leedsgirlscan/images/running-1-1440x900.jpg) no-repeat scroll center center;"><div class="overlay"> </div><div class="container-fluid"><div class="content-block"><h1>About</h1> <h2>What are we about?</h2><p class="lead">This Girl Can Leeds is part of the national This Girl Can campaign developed by Sport England together with a range of partners to encourage women to take part in sport.</p></div></div></div>
{% endblock %} 

{% block sectionOneFullBottom %}
<div class="content-block">

<p class="lead">This Girl Can Leeds is a celebration of women who are doing their thing and don’t care how they look or how red their face gets when playing sport.</p>

<p>We want the women of Leeds to run, roll, move, pedal, swim and shoot for the netball hoop. If you want to try a new sport or get back into a sport that you previously loved now is the time!</p>

<div class="panel">
<div class="col-md-6">
<h2>Leeds girls can - Run Leeds 2015</h2>
<p>Here is a short video that highlights what we have to offer</p>
</div>
<div class="col-md-6">
<div class="media-container">
    <p>
        <a rel="external" href="http://www.youtube.com/watch?v=k-jBWJSWm4U?">Leeds girls can - run leeds 2015</a>
    </p>
</div>
</div>
<div class="clearfix"></div>
</div>

</div>
{% endblock %}



 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%}


{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull %}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}
 
  {% block footer_nav %}
 {% endblock %}


