{% extends "layout_multi_sections.html" %}

{% block page_title %}
Ambassadors
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}/leedsgirlscan/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 {% block main_nav %}
   {% include "includes/leedsgirlscan/main_nav.html" %}    
 {% endblock %}
 
 {% block sectionOneTop %}
 <div class="heroBanner" style="background:url(/public/leedsgirlscan/images/Rounders.jpg) no-repeat scroll top center;"><div class="overlay"> </div><div class="container-fluid">			<div class="content-block" >   <h1>Ambassadors</h1> <h2>Join the Leeds Girls Can Team</h2>						<p class="lead">We want you to help us persuade more women and girls to get active, whatever their age, size, background or ability.</p></div>	</div> 	</div>
{% endblock %} 

{% block sectionOneFullBottom %}

{% endblock %}



 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}


{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%}

<div class="content-block">
<h2>Leeds Girls Can roles</h2>
<h3>What is a volunteer?</h3>
<p>A Leeds Girls Can Volunteer: Gives up their free time to support Leeds Girls Can in a variety of ways. This could include: helping at events; promoting LGC through social media and flyering; taking registers at sessions; buddying up with new participants and being welcoming at groups; helping to set up and take down equipment and supporting leaders to ensure their sessions runs smoothly; Championing LGC and many other unpaid roles.</p>

<h3>What is a Group Leader?</h3>
<p>A Leeds Girls Can Group Leader: Commits to a regular physical activity session which fits into the Leeds Girls Can program. They are unpaid and agree to take on admin responsibilities (in line with their qualification guidelines) for that group. Initially leaders are supported by Leeds Girls Can, and the vision is to help groups become self-sustainable after a three month period. Leaders are required to collect participant information, and keep a record of attendance to pass on to the Women and Girls Activator on a monthly basis.</p>


<h3>What is an Ambassador?</h3>
<p>A Leeds Girls Can Ambassador: Goes through an appropriate recruitment process and signs up to Leeds City Council and Sport England’s policies and procedures. The main aim of an Ambassador is to get more women and girls in Leeds physically active. Ambassadors are required to attend monthly meetings which are vital for receiving guidance and insight around This Girl Can, this helps support their role. An Ambassador is not paid for their time, they are not required to lead a group and the roles can vary. For further information on these roles contact: Dani Penney dani.penney@yorkshiresport.org</p>

<div role="note" aria-label="Information" class="text-highlight">
    <p>We will be recruiting more ambassadors later in the year. Follow us on social media @Leedsgirlscan for regular updates.</p>
</div>
</div>


<div class="panel alt img">
 <div class="img-container col-md-4" style="background-image: url('/public/leedsgirlscan/images/19047685_10154592838395108_131101072_n.jpg');">
</div>
<div class="col-md-8 col-md-offset-4 content">
<h2>This is Emma</h2>
<p>Emma is a mother of two lively boys aged 2 and 5 and works part time as a transport planner. She used to run in her mid 20’s. On approaching 40 she took up running again after a 16 year break with the aim of completing the great north run again which she ended up doing 4 months pregnant.</p>
<a href="" class="btn btn-outline">FIND OUT MORE</a>
</div>
<div class="clearfix"></div>
</div>

<div class="panel alt img">
 <div class="img-container right col-md-4" style="background-image: url('/public/leedsgirlscan/images/lisa-400x480.jpg');">
</div>
<div class="col-md-8 content">
<h2>This is Lisa</h2>
<p>Lisa, mum to 6 year old Jasmine, is a full time student undertaking a Childhood Studies degree at Leeds University. She lives in Beeston (Leeds) with husband John. She is a green belt in Karate and loves to go on camping holidays. Lisa isn’t a particularly confident character and it’s her journey from her life just six months ago to now which inspired me to write this case study.</p>
<a href="" class="btn btn-outline">FIND OUT MORE</a>
</div>
<div class="clearfix"></div>
</div>


<div class="panel alt img">
 <div class="img-container col-md-4" style="background-image: url('/public/leedsgirlscan/images/liz-400x480.jpg');">
</div>
<div class="col-md-8 col-md-offset-4 content">
<h2>This is Liz</h2>
<p>This is Liz. She is a retired Yoga instructor from Roundhay (Leeds). She has many hobbies including: crochet; hiking; reading and socialising over coffee and cake. She first joined Leeds Girls Can (LGC) in March 2016 at my beginner running/walking group in Beeston. Since then, she’s taken part in some of my other sessions in Leeds and we have formed a very good friendship.</p>
<a href="" class="btn btn-outline">FIND OUT MORE</a>
</div>
<div class="clearfix"></div>
</div>



{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull %}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

 
  {% block reuserblecontent_footer %}
   {% include "includes/leedsgirlscan/footer.html" %}   
   {% endblock %}

