{% extends "layout_multi_sections.html" %}

{% block page_title %}
	Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}/leedsgirlscan/stylesheets/application.css" rel="stylesheet">
           
        
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/leedsgirlscan/main_nav.html" %}    
    {% endblock %}



 {% block sectionOneTop %}
<span id="top"class="sr-only"></span>
  <style>
  .sectionHeader{
    height:100vh;
    background:transparent;
  }

  .main-nav a {
    background:transparent;
    text-shadow: 1px 1px 1px #000;
  }
  
    .logo{
    width: 500px;
    height: 175px;
    position:absolute;
    top: 40vh !important;
    left: 50% !important;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    }
  </style>
{% endblock %} 

{% block sectionOneFull%}
<div class="content-block text-center">
<h2 class="heading-xlarge">This Girl Can</h2>
<p class="lead">Leeds</p>
</div>



<div class="panel alt img">
 <div class="img-container col-md-4" style="background-image: url('/public/leedsgirlscan/images/19047685_10154592838395108_131101072_n.jpg');">
</div>
<div class="col-md-8 col-md-offset-4 content">
<h2>This Girl Can</h2>
<h3>Roll</h3>
<a href="" class="btn btn-outline">FIND OUT MORE</a>
</div>
<div class="clearfix"></div>
</div>

<div class="panel img alt">
    <div class="img-container col-md-6" style="background-image: url('/public/leedsgirlscan/images/19047685_10154592838395108_131101072_n.jpg');">
    </div>
    <div class="col-md-6 col-md-offset-6 content">
        <h3>Image to the left</h3>
        <p>Panel button text with us and a member of our team will get in touch and answer any questions you may have.</p>
    </div>
    <div class="clearfix"></div>
</div>

<div class="panel img panel-border">
    <div class="img-container right col-md-6" style="background-image: url('/public/leedsgirlscan/images/19047685_10154592838395108_131101072_n.jpg');">
    </div>
    <div class="col-md-6 content text-center">
        <h2>Panel alt with an image</h2>
        <p>Panel button text with us and a member of our team will get in touch and answer any questions you may have.</p>
        <a class="btn btn-outline btn-arrow">Panel button text</a>
    </div>
    <div class="clearfix"></div>
</div>


<div class="panel img panel-event">
    <div class="img-container col-sm-6 col-md-3" style="background-image: url('/public/leedsgirlscan/images/19047685_10154592838395108_131101072_n.jpg');">
    </div>
    <div class="col-sm-6 col-sm-offset-6 col-md-offset-3 col-md-3 panel-event-date">
        <div class="panel-event-date-wrapper">
            <p aria-hidden="true" class="panel-event-date-details">
                <span>WED</span>
                <span class="big-number">6</span>
                <span>DEC 2017</span>
            </p>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-md-offset-6 content panel-event-content">
        <h3 class="panel-event-title">Fostering children with complex needs / disabilities</h3>
        <p class="panel-event-description">Free on-site parking</p>
        <div class="panel-event-info">
            <p class="panel-event-info-location"><strong>Location</strong> <a href="https://www.google.co.uk/maps/place/Village+Hotel+Leeds+North/@53.834195,-1.589756,15z/data=!4m5!3m4!1s0x0:0xf7d7911c75845ff6!8m2!3d53.834195!4d-1.589756">Village Hotel North, 186 Otley Rd, Headingley, Leeds LS16 5PR <span class="sr-only">Get directions. External link.</span></a></p>
            <p class="panel-event-info-time"><strong>Time</strong> 6pm to 8:30pm</p>
            <p class="panel-event-info-date"><strong>Date</strong> Wednesday 6th December 2017</p>
        </div>
    </div>
   <div class="clearfix"></div>
</div>
<h2>Meet the team</h2>
<div class="mega-promo">
    <div class="mega-promo__item featured">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/leedsgirlscan/images/19047685_10154592838395108_131101072_n.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">ITU World Triathlon Series 2018</h3>
                <p class="mega-promo__secondary">This is the description for the promo. You need to add a class of full to make it full width.</p>
            </div>
            <span class="mega-promo__highlight">Back in Leeds. Go Brownlees!</span>
        </a>
    </div>
    <div class="mega-promo__item third">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/leedsgirlscan/images/19047685_10154592838395108_131101072_n.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Full Council Meeting Webcast</h3>
                <p class="mega-promo__secondary">This is the description for the promo. You need to add a class of full to make it full width.</p>
            </div>
            <span class="mega-promo__highlight">LIVE</span>
        </a>
    </div>
    <div class="mega-promo__item third">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/leedsgirlscan/images/19047685_10154592838395108_131101072_n.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Leeds Indie Food Fest</h3>
                <p class="mega-promo__secondary">This is the description for the promo. You need to add a class of full to make it full width.</p>
            </div>
            <!--<span class="mega-promo__highlight">Highlight text</span>-->
        </a>
    </div>
    <div class="mega-promo__item third">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/leedsgirlscan/images/19047685_10154592838395108_131101072_n.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Leeds Pride</h3>
                <p class="mega-promo__secondary">This is the description for the promo. You need to add a class of full to make it full width.</p>
            </div>
            <!--<span class="mega-promo__highlight">Highlight text</span>-->
        </a>
    </div>
</div>

{% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 

{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block reuserblecontent_footer %}
   {% include "includes/leedsgirlscan/footer.html" %}   
   {% endblock %}