{% extends "layout_multi_sections.html" %}

{% block page_title %}
Move
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}/leedsgirlscan/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 {% block main_nav %}
   {% include "includes/leedsgirlscan/main_nav.html" %}    
 {% endblock %}
 
 {% block sectionOneTop %}
 <div class="heroBanner" style="background:url(/public/leedsgirlscan/images/IMG_1780-1440x900.jpg) no-repeat scroll center center;"><div class="overlay"> </div><div class="container-fluid">			<div class="content-block">    <h1>Move</h1> <h2>What is it?</h2>						<p class="lead">The hardest part about getting back into sport and exercise is often the first step, getting up off the sofa and starting to move. If you haven’t done any form of exercise or sporting activity since you were at school or college it can be daunting but there is no better time to start again than right now!
There are a whole range of sporting activities to choose from in and around Leeds to suit all abilities and ages.</p></div>	 	</div></div>
{% endblock %} 

{% block sectionOneFullBottom %}

{% endblock %}



 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}


{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%}

<div class="content-block">
<p class="lead">It sounds easy but you can start being more active by simply spending less time sat down and trying to fit more movement into your life. This could be joining a local walking group or trying a yoga class. Doing any form of sport or exercise gives you the chance to get away from the everyday stresses. The first step is getting out and about. This Girl Can Move!</p>

<div class="panel">
<div class="col-md-6">
<h2>Leeds girls can - Wheelchair racing</h2>
<p>Here is a short video that highlights what we have to offer</p>
</div>
<div class="col-md-6">
<div class="media-container">
    <p>
        <a rel="external" href="http://www.youtube.com/watch?v=/g3bsYU7Zhgg?">Leeds girls can - Wheelchair racing</a>
    </p>
</div>
</div>
<div class="clearfix"></div>
</div>

<a class="btn btn-outline" href="#events">
			<span class="text-weight-400">Get Involved</span>
			<i class="fa fa-female fa-lg pad-l-m-xs"></i>
		</a>
</div>

<div class="panel img">
 <div class="img-container right col-md-8" style="background-image: url('/public/leedsgirlscan/images/IMG_1747-768x480.jpg');">
</div>
<div class="col-md-4 content">
<h2>Why should I move?</h2>
<p>Taking part in exercise and sport has a huge number of physical and mental benefits such as increasing your confidence and self-esteem, reducing stress levels and increasing energy levels. This Girl Can Move is here to help you find an activity or class so that you can take part in gentle to moderate exercise and get moving!</p>
<p>Everyone benefits from being more active. Whatever your age and level of fitness. You can start slowly and build up the amount of activity you do.</p>
</div>
<div class="clearfix"></div>
</div>


<div class="panel alt  img">
 <div class="img-container col-md-4" style="background-image: url('/public/leedsgirlscan/images/IMG_1626-768x480.jpg');">
</div>
<div class="col-md-8 col-md-offset-4 content">
<h2>Walking</h2>
<p class="col-md-6 no-pad-left">Walking is a great way to start moving. From swapping a short car journey for a brisk walk or walking up the stairs at work instead of taking the lift, walking is one of the easiest forms of exercise. You can easily add walking into your normal daily routine.<br /><br />
Just thirty minutes of walking a day has a range of health benefits, from helping to keep your heart healthy to strengthening your muscles and increasing fitness levels. You can walk anywhere and everywhere. Walking is a sociable activity, call up your friends and catch up while stretching your legs. Or have a stroll during your lunch break and get some fresh air at the same time. There are different types of walking including <a target="_blank" href="http://www.ramblers.org.uk/">Rambling</a> and <a target="_blank" href="http://nordicwalking.co.uk/">Nordic Walking</a>.</p>

<p class="col-md-6 no-pad-left">We might be biased but Leeds is a beautiful place. Get out and about and take in the scenery on your doorstep. If you want to head further afield the Yorkshire Dales and North Yorkshire Moors are within easy travelling distance if you fancy a longer walk.<br /><br />
There are a number of walking groups in Leeds who plan safe, fun walking routes to suit all levels of fitness and pace. Including the <a target="_blank" href="http://www.meetup.com/leedswalkinggroup/">Leeds Walking Group</a>, <a target="_blank" href="http://www.takeahike.org.uk/">Take a Hike</a> and the <a target="_blank" href="http://leedsramblers.org.uk/">Leeds Ramblers</a>. </p>

</div>
<div class="clearfix"></div>
</div>


<div class="panel img">
<div class="col-md-4 content">
<h2>Sailing</h2>
<p>Sailing is a great way to try a new sport, something a bit different. Sailing gives you the opportunity to get outside and close to nature. You can experience the freedom of being out on the water and the independence of being in charge of your own boat.</p>
<p>If you are the competitive type there are race days where you can compete on the water against other sailors. You don’t need any prior knowledge or experience to try your hand at sailing.</p>
</div>
 <div class="img-container center col-md-offset-4 col-md-4" style="background-image: url('/public/leedsgirlscan/images/ships-188905_1280-768x480.jpg');">
</div>
<div class="col-md-4 col-md-offset-4 content">
 <p>You might think that there is nowhere to give sailing a go around Leeds, but there are actually a number of sailing clubs including the Leeds Sailing and Activity Centre who run women only sessions, these are suitable for complete beginners or if you have had pervious sailing experience.</p>
<p>As well as sailing you can try a variety of water sports and taster sessions including canoeing, kayaking, windsurfing and rowing. <a target="_blank" href="http://www.yeadonsailingclub.co.uk/index.asp">Yeadon Sailing Club</a> and <a target="_blank" href="http://www.otley-sailingclub.co.uk/">Otley Sailing Club</a> are also within easy travelling distance to Leeds.   </p>
</div>
<div class="clearfix"></div>
</div>

<div class="panel alt  img">
 <div class="img-container col-md-4" style="background-image: url('/public/leedsgirlscan/images/feet-768x480.jpg');">
</div>
<div class="col-md-8 col-md-offset-4 content">
<h2>Yoga</h2>
<p class="col-md-6 no-pad-left">Yoga is a discipline which includes controlling your breathing while doing specific body postures and simple meditation. It is an ancient form of exercise that focuses on flexibility and breathing. Yoga first originated as a spiritual discipline around 5,000 years ago and has since been adapted into a variety of different forms of yoga.<br />
It is widely practised for relaxation and the health benefits which include increased flexibility, balance and improved core strength. Yoga is often recommended for people with high blood pressure and aches and pains such as lower back pain as a beneficial form of gentle exercise. You don’t need to have tried yoga before to give it a go. Don’t worry if you think you aren’t flexible enough, your levels of flexibility will improve the more you practice, you don’t have to be flexible before you start!</p>

<p class="col-md-6 no-pad-left">There are lots of different types and styles of yoga so it is worth trying more than one type to see which suits you best. Speak to a local yoga teacher they will be able to advise you which class to try.<br />
All yoga styles are designed to create a feeling of lightness, ease and relaxation, making it the perfect activity to try after a stressful day.</p>

</div>
<div class="clearfix"></div>
</div>


<div class="panel img">
<div class="col-md-4 content">
<h2>Wheelchair Racing</h2>
<p>Wheelchair racing is the racing of wheelchairs in track and road races and is open to athletes with any qualifying type of disability- amputees, spinal cord injuries, cerebral palsy and partially sighted (when combined with another disability). Athletes are classified in accordance with the nature and severity of their disability or combinations of disabilities.</p>
</div>
 <div class="img-container center col-md-offset-4 col-md-4" style="background-image: url('/public/leedsgirlscan/images/FireShot-Screen-Capture-132-Leeds-Girls-Can-wheelchair-racing-YouTube-www_youtube_com_watch_vg3bsYU7Zhggfeatureyoutu_be-768x480.jpg');">
</div>
<div class="col-md-4 col-md-offset-4 content">
<p>Like running, it can take place on a track or as a road race. The main competitions take place at the Summer Paralympics which wheelchair racing and athletics has been a part of since 1960. Competitors compete in specialized wheelchairs which allow the athletes to reach speeds of 30 km/h or more. It is one of the most prominent forms of Paralympic athletics.</p>
</div>
<div class="clearfix"></div>
</div>

<div class="panel alt img">
 <div class="img-container col-md-4" style="background-image: url('/public/leedsgirlscan/images/running-1-768x480.jpg');">
</div>
<div class="col-md-8 col-md-offset-4 content">
<h2>Become an ambassador</h2>
<p>We want you to help us persuade more women and girls to get active, whatever their age, size, background or ability.</p>

<h3>What is an Ambassador?</h3>
<p>A Leeds Girls Can Ambassador: Goes through an appropriate recruitment process and signs up to Leeds City Council and Sport England’s policies and procedures. The main aim of an Ambassador is to get more women and girls in Leeds physically active. Ambassadors are required to attend monthly meetings which are vital for receiving guidance and insight around This Girl Can, this helps support their role. An Ambassador is not paid for their time, they are not required to lead a group and the roles can vary.</p>
<p>For further information on becoming an ambassador or any of our other roles contact <a href="mailto:dani.penney@yorkshiresport.org">Dani Penney</a> </p>
<a href="/ambassadors" class="btn btn-outline">Apply now</a>
</div>
<div class="clearfix"></div>
</div>

<div class="content-block">			<h2>Get Involved</h2>
			<p>Do you have an event, club or sport you would like to see here? Please <a href="http://www.leedsgirlscan.co.uk/contact#contact__info">get in touch</a>.</p>
</div>


{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull %}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}
 
  {% block footer_nav %}
 {% endblock %}


