{% extends "layout_multi_sections.html" %}

{% block page_title %}
Ambassadors
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}/leedsgirlscan/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 {% block main_nav %}
   {% include "includes/leedsgirlscan/main_nav.html" %}    
 {% endblock %}
 
 {% block sectionOneTop %}
 <div class="heroBanner" style="background:url(/public/leedsgirlscan/images/cycling-2-768x480.jpg) no-repeat scroll center center;"><div class="overlay"> </div><div class="container-fluid">			<div class="content-block">    <h1>Pedal</h1> <h2>What is it?</h2>						<p class="lead">Cycling covers lots of different types of biking. From road cycling, mountain biking, BMXing to track cycling.</p></div>	 	</div></div>
{% endblock %} 

{% block sectionOneFullBottom %}

{% endblock %}



 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}


{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%}

<div class="content-block">
<p>The different types require varying skills and different types of bike. All forms of cycling offer a great way to keep fit and transport you from A to B. If you are sick of your commute to work then why not give cycling a go?</p>

<p>If you are nervous about getting back on your bike there are lots of cycling groups around Leeds including the Breeze program who are trying to get more women into cycling. Breeze organise a number of fun Leeds based bike rides for women. You can cycle at a speed that suits you and make some new friends at the same time.</p>

<p>So dust off your bike and get peddling.</p>
<a class="btn btn-outline" href="#events">
			<span class="text-weight-400">Get Involved</span>
			<i class="fa fa-female fa-lg pad-l-m-xs"></i>
		</a>
</div>

<div class="panel img">
 <div class="img-container right col-md-8" style="background-image: url('/public/leedsgirlscan/images/cycling-768x480.jpg');">
</div>
<div class="col-md-4 content">
<h2>Why is it good for me?</h2>
<ul class="list list-bullet">
<li>Cycling is a great form of cardio exercise</li>
<li>It is low impact on joints</li>
<li>It can be a very sociable sport and gives you chance to get out into the fresh air</li>
</ul>
</div>
<div class="clearfix"></div>
</div>


<div class="panel alt  img">
 <div class="img-container right col-md-4" style="background-image: url('/public/leedsgirlscan/images//cycling-3-768x480.jpg');">
</div>
<div class="col-md-8 content">
<h2>Is it for me?</h2>
<p class="col-md-6 no-pad-left">They say you never forget how to ride a bike. Cycling is really easy to get back into and can be done by all ages and abilities. If you enjoy the open road and fresh air then cycling could be the sport for you. Cycling is a great way to spend time with family or friends. You can meet new people by joining your nearest cycling club. </p>

<p class="col-md-6 no-pad-left">If you have never cycled before you can take advantage of free adult cycling lessons  every Saturday at Fearnville Leisure Centre available for anyone who lives or works in West Yorkshire. You don’t need to bring your own bike, just drop in and have a go.</p>

</div>
<div class="clearfix"></div>
</div>


<div class="panel img">
<div class="col-md-4 content">
<h2>How much does it cost?</h2>
<p>The cost varies depending on what type of cycling you want to do. A good all-round bike will cost around £150 but this price can vary greatly. </p>
<p>There are bike storage facilities around Leeds including the Leeds Cycle Point at the train station which offers secure safe storage, ideal if you want to commute by bike into the city. There are a number of helpful bike shops in Leeds who can help you find the right bike and also help you fix up an existing bike such as The Pedallers’ Arms.</p>
<p>When cycling having the right safety equipment is paramount. A helmet is the most valuable piece of equipment that you can purchase. </p>
</div>
 <div class="img-container center col-md-offset-4 col-md-4" style="background-image: url('/public/leedsgirlscan/images/cycling-1-768x480.jpg');">
</div>
<div class="col-md-4 col-md-offset-4 content">
<h2>What equipment do I need?</h2>
<ul class="list list-bullet">
<li>A helmet</li>
<li>A bike</li>
<li>Reflective clothing and bike lights if you are cycling in the dark</li>
<li>For longer rides, padded shorts give added comfort</li>
<li>Suitable clothing for the weather and trousers that won’t get caught in your bike</li>
</ul>
</div>
<div class="clearfix"></div>
</div>

<div class="panel img">
 <div class="img-container right col-md-4" style="background-image: url('/public/leedsgirlscan/images/cycling-1-768x480.jpg');">
</div>
<div class="col-md-8 content">
<h2>What equipment do I need?</h2>
<ul class="list list-bullet">
<li>A helmet</li>
<li>A bike</li>
<li>Reflective clothing and bike lights if you are cycling in the dark</li>
<li>For longer rides, padded shorts give added comfort</li>
<li>Suitable clothing for the weather and trousers that won’t get caught in your bike</li>
</ul>
</div>
<div class="clearfix"></div>
</div>


<div class="panel alt img">
 <div class="img-container col-md-4" style="background-image: url('/public/leedsgirlscan/images/running-1-768x480.jpg');">
</div>
<div class="col-md-8 col-md-offset-4 content">
<h2>Become an ambassador</h2>
<p>We want you to help us persuade more women and girls to get active, whatever their age, size, background or ability.</p>

<h3>What is an Ambassador?</h3>
<p>A Leeds Girls Can Ambassador: Goes through an appropriate recruitment process and signs up to Leeds City Council and Sport England’s policies and procedures. The main aim of an Ambassador is to get more women and girls in Leeds physically active. Ambassadors are required to attend monthly meetings which are vital for receiving guidance and insight around This Girl Can, this helps support their role. An Ambassador is not paid for their time, they are not required to lead a group and the roles can vary.</p>
<p>For further information on becoming an ambassador or any of our other roles contact <a href="mailto:dani.penney@yorkshiresport.org">Dani Penney</a> </p>
<a href="/ambassadors" class="btn btn-outline">Apply now</a>
</div>
<div class="clearfix"></div>
</div>

<div class="content-block">			<h2>Get Involved</h2>
			<p>Do you have an event, club or sport you would like to see here? Please <a href="http://www.leedsgirlscan.co.uk/contact#contact__info">get in touch</a>.</p>
</div>


{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull %}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}
 
  {% block footer_nav %}
 {% endblock %}


