{% extends "layout_multi_sections.html" %}

{% block page_title %}
Roll
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}/leedsgirlscan/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 {% block main_nav %}
   {% include "includes/leedsgirlscan/main_nav.html" %}    
 {% endblock %}
 
 {% block sectionOneTop %}
 <div class="heroBanner" style="background:url(/public/leedsgirlscan/images/skating-4-768x480.jpg) no-repeat scroll center center;"><div class="overlay"> </div><div class="container-fluid">			<div class="content-block">    <h1>Roll</h1> <h2>What is it?</h2>						<p class="lead">Skateboarding isn’t a sport it’s a way of life. It was originally invented so that surfers could surf on land. Skateboarding involves riding and sometimes performing tricks on a skateboard. It is a relatively modern sport, the Ollie half pipe move wasn’t developed until the 1970s.</p></div>	 	</div></div>
{% endblock %} 

{% block sectionOneFullBottom %}

{% endblock %}



 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}


{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%}

<div class="content-block">
<p class="lead">Skateboarding can be lots of different things.  It is a lifestyle, an art, a form of transportation and an expression of ideas and passion through tricks and style. Skateboarding can be practised anywhere from an indoor or outdoor skate park to the street.</p>


<div class="panel">
<div class="col-md-6">
<h2>Leeds girls can - Roll</h2>
<p>Here is a short video that highlights what we have to offer</p>
</div>
<div class="col-md-6">
<div class="media-container">
    <p>
        <a rel="external" href="http://www.youtube.com/watch?v=sAeyypD6YIc?">Leeds girls can - Roll</a>
    </p>
</div>
</div>
<div class="clearfix"></div>
</div>

<a class="btn btn-outline" href="#events">
			<span class="text-weight-400">Get Involved</span>
			<i class="fa fa-female fa-lg pad-l-m-xs"></i>
		</a>
</div>

<div class="panel img">
 <div class="img-container right col-md-8" style="background-image: url('/public/leedsgirlscan/images/skating-2-768x480.jpg');">
</div>
<div class="col-md-4 content">
<h2>Why is it good for me?</h2>
<ul class="list list-bullet">
<li>Skateboarding offers a full body workout</li>
<li>It improves your coordination </li>
<li>Skateboarding teaches precision and balance</li>
</ul>
</div>
<div class="clearfix"></div>
</div>


<div class="panel alt  img">
 <div class="img-container col-md-4" style="background-image: url('/public/leedsgirlscan/images/skating03-768x480.jpg');">
</div>
<div class="col-md-8 col-md-offset-4 content">
<h2>It is for me?</h2>
<p class="col-md-6 no-pad-left">Are you looking for a social sport and camaraderie? Skateboarding might just be the perfect choice for you. It is a great way to meet new people and try something different.<br /> You can try skateboarding in a skate park with tuition and guidance from an instructor or you can try it out in a skate park with a skater friend. It is an affordable sport to try and most places hire out skateboards and equipment so you don’t have to buy a board straight away.</p>

<p class="col-md-6 no-pad-left">It is also the ideal crossover for other board sports such as surfing and snowboarding as the same disciplines including balance and precision are needed.<br/>
<a target="_blank" href="http://www.leeds.gov.uk/sports/pages/bodyline-membership.aspx">View Membership</a>
</p>

</div>
<div class="clearfix"></div>
</div>


<div class="panel img">
<div class="col-md-4 content">
<h2>How much does it cost?</h2>
<p>The cost varies depending on where you want to skate. There are a range of free outdoor skate parks that you can use for no cost. Or if you want tuition or to use an indoor skate park it is usually around £11 for a couple of hours and £20 for a one to one coaching session. Some indoor skate parks offer skateboards and equipment for hire at an additional cost to the session price such as The Works skate park.</p>
</div>
 <div class="img-container center col-md-offset-4 col-md-4" style="background-image: url('/public/leedsgirlscan/images/skating-1-768x480.jpg');">
</div>
<div class="col-md-4 col-md-offset-4 content">
<h2>What equipment do I need?</h2>
<ul class="list list-bullet">
<li>A skateboard</li>
<li>Helmet</li>
<li>Elbow and knee pads</li>
<li>Suitable footwear - supportive trainers</li>
<li>Suitable loose fitting clothing that you can move around in</li>
</ul>
</div>
<div class="clearfix"></div>
</div>

<div class="panel alt img">
 <div class="img-container col-md-4" style="background-image: url('/public/leedsgirlscan/images/running-1-768x480.jpg');">
</div>
<div class="col-md-8 col-md-offset-4 content">
<h2>Become an ambassador</h2>
<p>We want you to help us persuade more women and girls to get active, whatever their age, size, background or ability.</p>

<h3>What is an Ambassador?</h3>
<p>A Leeds Girls Can Ambassador: Goes through an appropriate recruitment process and signs up to Leeds City Council and Sport England’s policies and procedures. The main aim of an Ambassador is to get more women and girls in Leeds physically active. Ambassadors are required to attend monthly meetings which are vital for receiving guidance and insight around This Girl Can, this helps support their role. An Ambassador is not paid for their time, they are not required to lead a group and the roles can vary.</p>
<p>For further information on becoming an ambassador or any of our other roles contact <a href="mailto:dani.penney@yorkshiresport.org">Dani Penney</a> </p>
<a href="/ambassadors" class="btn btn-outline">Apply now</a>
</div>
<div class="clearfix"></div>
</div>

<div class="content-block">			<h2>Get Involved</h2>
			<p>Do you have an event, club or sport you would like to see here? Please <a href="http://www.leedsgirlscan.co.uk/contact#contact__info">get in touch</a>.</p>
</div>


{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull %}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}
 
  {% block footer_nav %}
 {% endblock %}


