{% extends "layout_multi_sections.html" %}

{% block page_title %}
Run
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}/leedsgirlscan/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 {% block main_nav %}
   {% include "includes/leedsgirlscan/main_nav.html" %}    
 {% endblock %}
 
 {% block sectionOneTop %}
 <div class="heroBanner" style="background:url(/public/leedsgirlscan/images/running-2-768x480.jpg) no-repeat scroll center center;"><div class="overlay"> </div><div class="container-fluid">			<div class="content-block">    <h1>Run</h1> <h2>What is it?</h2>						<p class="lead">Running is one of the cheapest and simplest forms of exercise. You can run almost anywhere and anytime. From power walking to jogging, running and racing there is a speed for everyone. Build up gradually and see what works for you.</p></div>	 	</div></div>
{% endblock %} 

{% block sectionOneFullBottom %}

{% endblock %}



 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}


{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%}

<div class="content-block">
<p>The different types require varying skills and different types of bike. All forms of cycling offer a great way to keep fit and transport you from A to B. If you are sick of your commute to work then why not give cycling a go?</p>

<p>Running can be a really sociable sport, head to the park for a run with a friend or join a beginners group and make new friends. Parkrun have runs across Leeds which take place every Saturday and are completely free.</p>

<p>You don’t need much equipment to run just put on your trainers and get outside.</p>

<div class="panel">
<div class="col-md-6">
<h2>Leeds girls can - Run</h2>
<p>Here is a short video that highlights what we have to offer</p>
</div>
<div class="col-md-6">
<div class="media-container">
    <p>
        <a rel="external" href="http://www.youtube.com/watch?v=2RBWzGkK2tI??">Leeds girls can - run</a>
    </p>
</div>
</div>
<div class="clearfix"></div>
</div>


<a class="btn btn-outline" href="#events">
			<span class="text-weight-400">Get Involved</span>
			<i class="fa fa-female fa-lg pad-l-m-xs"></i>
		</a>
</div>

<div class="panel img">
 <div class="img-container right col-md-8" style="background-image: url('/public/leedsgirlscan/images/running-1-768x480.jpg');">
</div>
<div class="col-md-4 content">
<h2>Why is it good for me?</h2>
<ul class="list list-bullet">
<li>Running is good for your heart </li>
<li>It raises energy levels and increases mental functions</li>
<li>It is a great way to de-stress and can reduce anxiety</li>
</ul>
</div>
<div class="clearfix"></div>
</div>


<div class="panel alt  img">
 <div class="img-container col-md-4" style="background-image: url('/public/leedsgirlscan/images/running-4-768x480.jpg');">
</div>
<div class="col-md-8 col-md-offset-4 content">
<h2>Is it for me?</h2>
<p class="col-md-6 no-pad-left">Running is a sport for everyone. It can be done at any pace and over any distance at your own speed. Most people start by doing a mixture of walking and running. It is a very sociable sport, running with friends or as part of a group can help you stay motivated and encourage you to get out there.<br />There are lots of free parkrun events and running clubs across Leeds who will support you and help you find your step. You can search for clubs near you at <a target="_blank" href="http://www.runengland.org/">Run England</a>. </p>

<p class="col-md-6 no-pad-left">If you are a competitive person running could be the perfect activity for you. There are lots of different events and competitions across Leeds that you can take part in and challenge yourself such as the Leeds Abbey Dash and Leeds Plusnet half and full marathons. Having an event to work towards can be a great incentive to push yourself and get out running with friends or as part of a running group.</p>

</div>
<div class="clearfix"></div>
</div>


<div class="panel img">
<div class="col-md-4 content">
<h2>How much does it cost?</h2>
<p>Running is one of the cheapest sports that you can do. You don’t need much equipment to get started. You can run outside for free. Head to your nearest park and give it a go. Many running clubs or groups let you try it out first before committing to any subscription costs.</p>
</div>
 <div class="img-container center col-md-offset-4 col-md-4" style="background-image: url('/public/leedsgirlscan/images/running-3-768x480.jpg');">
</div>
<div class="col-md-4 col-md-offset-4 content">
<h2>What equipment do I need?</h2>
<ul class="list list-bullet">
<li>Trainers. Running shops will help fit you for the right pair of trainers.</li>
<li>High visibility clothing if you are running at night.</li>
<li>Shorts, leggings or tracksuit bottoms, socks and a t-shirt.</li>
<li>A well-fitted sports bra.</li>
</ul>
</div>
<div class="clearfix"></div>
</div>

<div class="panel alt img">
 <div class="img-container col-md-4" style="background-image: url('/public/leedsgirlscan/images/running-1-768x480.jpg');">
</div>
<div class="col-md-8 col-md-offset-4 content">
<h2>Become an ambassador</h2>
<p>We want you to help us persuade more women and girls to get active, whatever their age, size, background or ability.</p>

<h3>What is an Ambassador?</h3>
<p>A Leeds Girls Can Ambassador: Goes through an appropriate recruitment process and signs up to Leeds City Council and Sport England’s policies and procedures. The main aim of an Ambassador is to get more women and girls in Leeds physically active. Ambassadors are required to attend monthly meetings which are vital for receiving guidance and insight around This Girl Can, this helps support their role. An Ambassador is not paid for their time, they are not required to lead a group and the roles can vary.</p>
<p>For further information on becoming an ambassador or any of our other roles contact <a href="mailto:dani.penney@yorkshiresport.org">Dani Penney</a> </p>
<a href="/ambassadors" class="btn btn-outline">Apply now</a>
</div>
<div class="clearfix"></div>
</div>

<div class="content-block">			<h2>Get Involved</h2>
			<p>Do you have an event, club or sport you would like to see here? Please <a href="http://www.leedsgirlscan.co.uk/contact#contact__info">get in touch</a>.</p>
</div>


{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull %}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}
 
  {% block footer_nav %}
 {% endblock %}


