{% extends "layout_multi_sections.html" %}

{% block page_title %}
Shoot
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}/leedsgirlscan/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 {% block main_nav %}
   {% include "includes/leedsgirlscan/main_nav.html" %}    
 {% endblock %}
 
 {% block sectionOneTop %}
 <div class="heroBanner" style="background:url(/public/leedsgirlscan/images/netball-3-1440x900.jpg) no-repeat scroll center center;"><div class="overlay"> </div><div class="container-fluid">			<div class="content-block">    <h1>Shoot</h1> <h2>What is it?</h2>						<p class="lead">Netball is a seven a side sport played with two teams and is similar to early versions of basketball.</p></div>	 	</div></div>
{% endblock %} 

{% block sectionOneFullBottom %}

{% endblock %}



 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}


{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%}

<div class="content-block">
<p class="lead">Each team tries to score by passing the ball down the court, when a player receives the ball they must stand still until they have thrown the ball to another player. You can’t run or move with the ball. Goals are scored by throwing the ball through a netted hoop; there is a one at each end of the court.</p>

<p>Players are given specific positions to play in which then define their role and restricts where you can go in the court.</p>


<div class="panel">
<div class="col-md-6">
<h2>Leeds girls can - Shoot</h2>
<p>Here is a short video that highlights what we have to offer</p>
</div>
<div class="col-md-6">
<div class="media-container">
    <p>
        <a rel="external" href="http://www.youtube.com/watch?v=/MYkGz-aBQFQ?">Leeds girls can - Shoot</a>
    </p>
</div>
</div>
<div class="clearfix"></div>
</div>

<a class="btn btn-outline" href="#events">
			<span class="text-weight-400">Get Involved</span>
			<i class="fa fa-female fa-lg pad-l-m-xs"></i>
		</a>
</div>

<div class="panel img">
 <div class="img-container right col-md-8" style="background-image: url('/public/leedsgirlscan/images/netball-768x480.jpg');">
</div>
<div class="col-md-4 content">
<h2>Why is it good for me?</h2>
<ul class="list list-bullet">
<li>Netball is a high energy sport, giving you a great aerobic workout every time</li>
<li>Teamwork skills are a big part of Netball </li>
<li>It can give you increased confidence and is a great way to meet new people</li>
</ul>
</div>
<div class="clearfix"></div>
</div>


<div class="panel alt  img">
 <div class="img-container col-md-4" style="background-image: url('/public/leedsgirlscan/images/netball-2-768x480.jpg');">
</div>
<div class="col-md-8 col-md-offset-4 content">
<h2>It is for me?</h2>
<p class="col-md-6 no-pad-left">Netball is a sport that is suitable for all ages and abilities. If you are looking for a fun team sport, netball could be for you. To win a game of netball you have to play as a team and interact and communicate with all the members of the team. These teamwork skills can be transferred to lots of other areas, for example work or your social life.</p>

<p class="col-md-6 no-pad-left">England Netball is encouraging women 16+ to come ‘Back to Netball’, you don’t have to stop playing netball when you leave school or University. The Back to Netball sessions are ideal if you haven’t played for a few years, or if you have never played netball before and want to try it out.
</p>

</div>
<div class="clearfix"></div>
</div>


<div class="panel img">
<div class="col-md-4 content">
<h2>How much does it cost?</h2>
<p>Netball clubs all have varying membership and training fees. The ‘Back to Netball’ sessions generally cost between £3 or more per session. Alternatively, you could hire a court at a sports centre and take a group of friends with you and make your own teams.</p>
</div>
 <div class="img-container center col-md-offset-4 col-md-4" style="background-image: url('/public/leedsgirlscan/images/netball-1-768x480.jpg');">
</div>
<div class="col-md-4 col-md-offset-4 content">
<h2>What equipment do I need?</h2>
<ul class="list list-bullet">
<li>Comfortable clothing – t-shirt, leggings or jogging bottoms</li>
<li>Trainers</li>
<li>A netball</li>
<li>Netball court</li>
</ul>
</div>
<div class="clearfix"></div>
</div>

<div class="panel alt img">
 <div class="img-container col-md-4" style="background-image: url('/public/leedsgirlscan/images/running-1-768x480.jpg');">
</div>
<div class="col-md-8 col-md-offset-4 content">
<h2>Become an ambassador</h2>
<p>We want you to help us persuade more women and girls to get active, whatever their age, size, background or ability.</p>

<h3>What is an Ambassador?</h3>
<p>A Leeds Girls Can Ambassador: Goes through an appropriate recruitment process and signs up to Leeds City Council and Sport England’s policies and procedures. The main aim of an Ambassador is to get more women and girls in Leeds physically active. Ambassadors are required to attend monthly meetings which are vital for receiving guidance and insight around This Girl Can, this helps support their role. An Ambassador is not paid for their time, they are not required to lead a group and the roles can vary.</p>
<p>For further information on becoming an ambassador or any of our other roles contact <a href="mailto:dani.penney@yorkshiresport.org">Dani Penney</a> </p>
<a href="/ambassadors" class="btn btn-outline">Apply now</a>
</div>
<div class="clearfix"></div>
</div>

<div class="content-block">			<h2>Get Involved</h2>
			<p>Do you have an event, club or sport you would like to see here? Please <a href="http://www.leedsgirlscan.co.uk/contact#contact__info">get in touch</a>.</p>
</div>


{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull %}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}
 
  {% block footer_nav %}
 {% endblock %}


