{% extends "layout_multi_sections.html" %}

{% block page_title %}
Dance
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}/leedsgirlscan/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 {% block main_nav %}
   {% include "includes/leedsgirlscan/main_nav.html" %}    
 {% endblock %}
 
 {% block sectionOneTop %}
 <div class="heroBanner" style="background:url(/public/leedsgirlscan/images/DanceHeader-1440x900.jpg) no-repeat scroll center center;"><div class="overlay"> </div><div class="container-fluid">			<div class="content-block">    <h1>Dance</h1> <h2>What is it?</h2>						<p class="lead">There are lots of different styles of dance from contemporary dance, street dance and ballet to salsa, Zumba and Bokwa. On a basic level all dance involves moving rhythmically to music and following a sequence of moves. That doesn’t really explain fully dance and just how uplifting and invigorating a sport it is.</p></div>	 	</div></div>
{% endblock %} 

{% block sectionOneFullBottom %}

{% endblock %}



 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}


{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%}

<div class="content-block">
<p class="lead">Dance is creative and gives you chance to express yourself and have fun. It is a great way to meet new people and try something different. You might have gone to ballet classes as a child but how about street dance or Zumba, there are so many different dance classes in Leeds you can try a whole range of dance styles.</p>

<p>Leeds is a city of dance.</p>

<p>It is the number one city for dance outside of London, so make the most of it and get dancing.</p>


<div class="panel">
<div class="col-md-6">
<h2>Leeds girls can - Dance</h2>
<p>Here is a short video that highlights what we have to offer</p>
</div>
<div class="col-md-6">
<div class="media-container">
    <p>
        <a rel="external" href="http://www.youtube.com/watch?v=/M5EyjayEYOQ?">Leeds girls can - Dance</a>
    </p>
</div>
</div>
<div class="clearfix"></div>
</div>

<a class="btn btn-outline" href="#events">
			<span class="text-weight-400">Get Involved</span>
			<i class="fa fa-female fa-lg pad-l-m-xs"></i>
		</a>
</div>

<div class="panel img">
 <div class="img-container right col-md-8" style="background-image: url('/public/leedsgirlscan/images/10251971_SportE_0825_RGB_150DPI-768x480.jpg');">
</div>
<div class="col-md-4 content">
<h2>Why is it good for me?</h2>
<ul class="list list-bullet">
<li>Dance offers a full cardio and aerobic workout</li>
<li>It can improve coordination and mental agility</li>
<li>It improves muscle tone and strength</li>
</ul>
</div>
<div class="clearfix"></div>
</div>


<div class="panel alt  img">
 <div class="img-container col-md-4" style="background-image: url('/public/leedsgirlscan/images/dance-2-768x480.jpg');">
</div>
<div class="col-md-8 col-md-offset-4 content">
<h2>It is for me?</h2>
<p class="col-md-6 no-pad-left">You don’t need to have danced professionally to enjoy dance. Everyone loves to dance. As soon as the music starts let yourself go.<br />There is a dance style for everyone, if you want to try a slower pace why not give ballroom dancing a go or if you fancy trying something a bit more up tempo how about street dance?</p>

<p class="col-md-6 no-pad-left">Dancing is a very social sport and learning a new skill and dance moves can be extremely rewarding. It is a fun workout and you can make some new friends at the same time. The majority of dance classes are done indoors so whatever the weather you can dance. Dance classes are a great way to try dancing for the first time and then you can practice your moves at home with friends.<br />What are you waiting for? Get moving.
</p>

</div>
<div class="clearfix"></div>
</div>


<div class="panel img">
<div class="col-md-4 content">
<h2>How much does it cost?</h2>
<p>The cost of dancing varies depending what type of dance you want to try. Most dance classes are around £5 and some you have to book for a course of classes which can work out cheaper. If you want to try a new dance many places in Leeds offer ‘taster’ sessions and beginner classes which are a great way to try it for the first time.</p>
<p>Some gyms in Leeds offer the more aerobic style dances such as Zumba and Bokwa and the classes are free if you are a member of the gym.</p>
</div>
 <div class="img-container center col-md-offset-4 col-md-4" style="background-image: url('/public/leedsgirlscan/images/dance-landscape-768x480.jpg');">
</div>
<div class="col-md-4 col-md-offset-4 content">
<h2>What equipment do I need?</h2>
<ul class="list list-bullet">
<li>The footwear you need changes depending on the type of dance</li>
<li>Comfortable clothing that doesn’t restrict your movement</li>
</ul>
</div>
<div class="clearfix"></div>
</div>

<div class="panel alt img">
 <div class="img-container col-md-4" style="background-image: url('/public/leedsgirlscan/images/running-1-768x480.jpg');">
</div>
<div class="col-md-8 col-md-offset-4 content">
<h2>Become an ambassador</h2>
<p>We want you to help us persuade more women and girls to get active, whatever their age, size, background or ability.</p>

<h3>What is an Ambassador?</h3>
<p>A Leeds Girls Can Ambassador: Goes through an appropriate recruitment process and signs up to Leeds City Council and Sport England’s policies and procedures. The main aim of an Ambassador is to get more women and girls in Leeds physically active. Ambassadors are required to attend monthly meetings which are vital for receiving guidance and insight around This Girl Can, this helps support their role. An Ambassador is not paid for their time, they are not required to lead a group and the roles can vary.</p>
<p>For further information on becoming an ambassador or any of our other roles contact <a href="mailto:dani.penney@yorkshiresport.org">Dani Penney</a> </p>
<a href="/ambassadors" class="btn btn-outline">Apply now</a>
</div>
<div class="clearfix"></div>
</div>

<div class="content-block">			<h2>Get Involved</h2>
			<p>Do you have an event, club or sport you would like to see here? Please <a href="http://www.leedsgirlscan.co.uk/contact#contact__info">get in touch</a>.</p>
</div>


{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull %}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}
 
  {% block footer_nav %}
 {% endblock %}


