<hr class="spacer-top" />
<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="listWebpart">
    <ul>
      <li class="three blockLink promo text purple button"><a href="/Memberships/Pages/CorporateMemberships.aspx"><span class="info">Corporate Memberships<span class="arrow"></span></span></a></li>
      <li class="three blockLink promo text purple button"><a href="/Memberships/Pages/JuniorBodylineActivities.aspx"><span class="info">Junior Bodyline Actvities<span class="arrow"></span></span></a></li>
      <li class="three blockLink promo text purple button"><a href="/classesandactivities/Pages/Gyms.aspx"><span class="info">Pay as You Gym<span class="arrow"></span></span></a></li>
    </ul>
  </div>
</div>
<hr class="spacer-bottom" />