
                    <hr class="spacer-top">
                
            	<ul class="equalWrapper blocks">
                 	<li class="equalItem infoBlock two" id="contact" style="height: 298px;">
                    	<h2>Contact Bodyline</h2>
                        <p>For all enquiries about Bodyline membership, please contact membership services on:</p>
                        <p><strong>Tel: </strong>0113 395 0160
						<br><strong>Email: </strong><a href="mailto:membership.services@leeds.gov.uk">membership.services@leeds.gov.uk</a></p>
                    </li>
                 	<li class="equalItem infoBlock two" style="height: 298px;">
                    	<h2>Cancel Your Membership</h2>
                        <p>Please see <a rel="pdf" href="/Memberships/Documents/bodyline%20membership%20terms%20and%20conditions.pdf" target="_blank"><span class="sr-only">Opens in new window </span>Terms and Conditions (PDF, 76 KB)</a> for information on cancellations.</p>
  
						<p>If you need any help please contact membership services on 0113 395 0160 or email <a>membership.services@leeds.gov.uk</a> with your details.</p>
                    </li>
                </ul>
                
                <hr class="spacer-bottom">
